:root {
    --navyblue: #002173;
    --lightblue: #E9F6FD;
    --green: #2BDE8D;
    --orange: #FFC014;
    --red: #DB3A2A;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: white;
    color: var(--navyblue);
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5em; /* 56px */
}

h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2em; /* 32px */
}

h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em; /* 20px */
}

h4 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

/* top navigation */
.topnav-home {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    background: var(--navyblue);
}

.topnav-home a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

/* hero banner */
.hero-banner {
    background: url(/img/hero-banner.jpg);
    /* width: 100%; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-banner h1 {
    text-align: left;
    margin: 0;
    font-weight: normal;
    color: white;
}

.hero-banner span {
    font-weight: bold;
}

.hero-banner button {
    width: 224px;
    padding: 12px;
}

.signup-btn {
    float: left;
    padding: 12px 32px;
    height: auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    border: none;

    color: white;
    background: var(--green);
    border-radius: 32px;
}

/* content */
.home-wrapper {
    margin-right: auto;
    margin-left:  auto;
    /* max-width: 960px; */
    padding-right: 56px;
    padding-left:  56px;
}

.areas-container {
    display: flex;
    align-items: center;
    position: relative;
}

.area-box {
    display: flex;
    flex-direction: column;
    text-align: center;

    background: white;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 32px;
}

.area-box p:nth-of-type(1) {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0;
    margin-top: -24px;
}

.area-box p:nth-of-type(2) {
    font-size: 1em;
    max-width: 280px;
    margin: 8px 0 0 0;
}

.circle-box {
    position: relative;
    margin: 0 auto;
    top: -65px;
}

.circle {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    display: flex;
    align-items: center;

    background: white;
    box-shadow: 0px 16px 40px rgb(112 144 176 / 8%);
}

.circle svg {
    font-size: 3em;
    color: var(--navyblue);
    margin: 0 auto;
}

/* welcome element */
.welcome-container{
    display: flex;
    justify-content: space-around;
}

.welcome-content {
    display: flex;
    align-items: center;
}

.welcome-content svg {
    /* margin-right: 24px; */
    font-size: 4em;
    position: absolute;
    z-index: 100;
}

.icon-bcg {
    position: relative;
    height: 64px;
    width: 64px;
    transform: translate(16px, -12px);
    border-radius: 50%;
    background: var(--lightblue);
}

.welcome-content div:nth-of-type(2) {
    margin-left: 40px;
}

.welcome-content h3 {
    margin: 0;
}

.welcome-content p {
    max-width: 380px;
    margin: 8px 0 0 0;
}

.column {
    float: left;
}

.welcome-text {
    text-align: center;
    margin-bottom: 56px;
}

.welcome-text h2 {
    margin: 0;
}

.welcome-text h2:nth-of-type(2) {
    font-weight: normal;
}

/* numbers */
.numbers-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 56px 0;
    background: var(--lightblue);
}

.number-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.number-box h2 {
    margin: 0;
}

.number-box h3 {
    margin: 8px 0;
}

.number-box p {
    margin: 8px 0;
    max-width: 280px;
}

.value {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
}

/* comparison */
.comparisons-container {
    display: flex;
}

.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 32px;
}

.list-box h3 {
    margin: 0;
}

.list-box .list-items:last-child {
    margin-bottom: 0;
}

.right-blue {
    color: white;
    background: #002173;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 32px;
}

.list-items {
    display: flex;
    align-content: center;
    margin-bottom: 24px;
}

.list-items svg {
    font-size: 1.25em;
    margin-right: 8px;
}

.list-items h4 {
    margin: 0;
}

.list-items p {
    margin: 0;
}

/* about us */
.about-us {
    display: flex;
    margin: 56px 0;
}

.about-text {
    text-align: left;
}

.about-text h2 {
    margin: 0;
}

.about-text p {
    max-width: 400px;
}

.about-text button {
    background: var(--navyblue);
    margin-top: 16px;
}

/* testimonials */
.testimonials-container {
    display: flex;
    background: var(--lightblue);
}

.testimonial {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.testimonial p {
    margin: 0;
}

.testimonial p:nth-of-type(1) {
    max-width: 280px;
    font-style: italic;
}

.testimonial p:nth-of-type(2) {
    font-weight: bold;
}

.stars {
    display: inline-block;
    font-size: 1em;
    margin: 16px 0;
}

/* faq */
.faq-container {
    display: flex;
}

.faq-text {
    text-align: left;
}

.faq-text button {
    background: var(--navyblue);
}

.faq-text h2 {
    margin: 0;
}

.faq-text p {
    max-width: 400px;
}

.question {
    text-align: left;
    padding: 8px 24px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.08);
    border-radius: 32px;
}

.question:last-child {
    margin-bottom: 0;
}

/* partners */
.partners-container {
    display: flex;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background: var(--navyblue);
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links p {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    padding: 24px;
}

.some-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-icons svg {
    padding: 24px;
    font-size: 1.5em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

/* solution */
.solution-container {
    display: flex;
}

.solution-text {
    text-align: left;
}

.solution-text h2 {
    margin: 0;
}

.solution-text p {
    max-width: 400px;
}

.solution-text button {
    margin-top: 16px;
}


/* desktop */
@media (min-width: 1024px) {
/* hero banner */
    .topnav-home a:nth-child(1) {
        margin-left: 56px;
    }
    
    .topnav-home a:nth-child(3) {
        margin-right: 56px;
    }

    .hero-banner {
        padding: 0 56px;
        height: 640px;
    }

    .hero-banner .signup-btn {
        margin-top: 40px;
    }

    .areas-container {
        bottom: 80px;
        justify-content: space-evenly;
        align-content: center;
    }

    .area-box {
        padding: 24px;
    }

    .column .welcome-content:nth-of-type(1) {
        margin-bottom: 40px;
    }

    .numbers-container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 56px 0;
    }

    .solution-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 132px;
    }

    .solution-container img:nth-of-type(2) {
        position: absolute;
        right: 0; transform: translate(-156px, 132px);
    }

    .comparisons-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .list-box {
        padding: 56px;
    }

    .list-items p {
        margin-top: 8px;
    }

    .about-us {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .testimonials-container {
        flex-direction: row;
        justify-content: space-around;
        margin: 56px 0;
        padding: 56px;
    }

    .testimonial p:nth-of-type(1) {
        height: 100px;
    }

    .faq-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .faq-text button {
        margin-top: 16px;
    }

    .question {
        width: 440px;
    }

    .partners-container {
        margin: 56px 0;
        padding: 56px 0;
        justify-content: space-around;
    }

    .partners-container img {
        opacity: .5;
    }

    .partners-container img:hover {
        opacity: 1;
        cursor: pointer;
        transition: .3s;
    }

    footer {
        padding: 24px 0;
    }

}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .hero-banner {
        background-size: cover;
        background-position: 50%;
    }

    .area-box {
        margin-right: 16px;
        height: 208px;
    }

    .area-box:last-of-type {
        margin-right: 0;
    }

    .area-box p:nth-of-type(1) {
        font-size: 1em;
    }

    .comparisons-container div:first-child {
        margin-right: 24px;
    }

    .list-box {
        padding: 24px;
    }

    .solution-container {
        flex-direction: column-reverse;
        margin-bottom: 56px;
    }

    .solution-container img:nth-of-type(2) {
        transform: translate(-64px, 132px);
    }

    .solution-text {
        margin-top: 40px;
    }

    .about-us img {
        width: 372px;
    }

    .testimonial{
        padding: 8px;
    }

    .question {
        width: 324px;
    }

    .question h4 {
        margin: 8px 0;
    }

    .partners-container img {
        overflow: hidden;
        padding: 16px;
    }
}

/* mobile */
@media (max-width: 414px) {
/* hero banner */
    h1 {
        font-size: 1.25em;
    }

    h2 {
        font-size: 1.5em;
    }

    .topnav-home a:nth-child(1) {
        margin-left: 24px;
    }
    
    .topnav-home a:nth-child(3) {
        margin-right: 24px;
    }

    .hero-banner {
        padding: 0 24px;
        height: 375px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;
    }

    .hero-banner button {
        margin-top: 24px;
    }

    .areas-container {
        flex-direction: column;
    }

    .area-box {
        margin-bottom: 56px;
        padding: 0 24px 24px 24px;
        height: auto;
        margin-right: 0;
    }

    .circle-box {
        top: -25px;
    }

    .circle {
        height: 80px;
        width: 80px;
    }

    .circle svg {
        font-size: 2.5em;
    }

    .home-wrapper {
        padding-right: 24px;
        padding-left: 24px;
    }

    .welcome-container {
        flex-direction: column;
    }

    .welcome-text {
        margin-bottom: 40px;
    }

    .column {
        width: 100%;
      }

    .welcome-content {
        margin-bottom: 24px;
    }

    .welcome-content div:nth-of-type(2) {
        margin-left: 24px;
    }

    .welcome-content p {
        margin: 8px 0 0 0;
    }

    .numbers-container {
        flex-direction: column;
        margin: 56px 0;
    }

    .number-box {
        align-items: center;
        margin-bottom: 24px;
    }

    .number-box:last-child {
        margin-bottom: 0;
    }

    .solution-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .solution-container div:nth-child(2) {
        width: 340px;
        margin-top: 40px;
    }

    .solution-container img:nth-of-type(1) {
        width: 340px;
    }

    .solution-container img:nth-of-type(2) {
        transform: translate(216px, -132px);
        width: 124px;
    }

    .solution-text {
        display: flex;
        flex-direction: column;
    }

    .solution-text button {
        margin-top: 8px;
        align-self: center;
    }

    .comparisons-container {
        flex-direction: column;
    }

    .list-box {
        padding: 24px;
    }

    .list-items h3 {
        font-size: 1em;
    }

    .list-items p {
        margin-top: 4px;
    }

    .right-blue {
        margin-top: 32px;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
    }

    .about-us img {
        width: 100%;
        margin-top: 24px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
    }

    .about-text button {
        margin-top: 8px;
        align-self: center;
    }

    .testimonials-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 56px 0;
    }

    .testimonial {
        margin-bottom: 40px;
    }

    .testimonial:last-child {
        margin-bottom: 0;
    }

    .faq-container {
        flex-direction: column;
        margin: 56px 0;
    }

    .faq-text {
        display: flex;
        flex-direction: column;
    }

    .faq-text button {
        align-self: center;
    }

    .faq-questions {
        margin-top: 24px;
    }

    .question {
        padding: 16px 24px;
        width: auto;
    }

    .question h4 {
        margin: 0;
    }

    .faq-text button {
        margin-top: 8px;
    }

    .partners-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 56px;
    }

    .partners-container img {
        width: 80px;
        padding: 12px;
    }

    footer {
        padding: 24px 8px;
    }

    .footer-links {
        flex-wrap: wrap;
        margin-top: 24px;
    }

    .footer-links p {
        margin: 0 16px 16px;
        padding: 0;
    }

    .contact-info {
        text-align: center;
    }

}