:root {
    --navyblue: #002173;
    --lightblue: #E9F6FD;
    --green: #2BDE8D;
    --orange: #FFC014;
    --red: #DB3A2A;
}

/* general */
body {
    margin: 0;
    background: var(--lightblue);
    color: var(--navyblue);
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--navyblue);
    margin: 0 0 8px 0;
}

h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--navyblue);
    margin: 0;
}

h4 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

/* side navigation desktop */
.tabbar {
    height: 100%;
    width: 264px;
    left: 0px;
    top: 0px;
    z-index: 100;
    position: fixed;
    overflow-x: hidden;
    padding-top: 56px;
    background: var(--navyblue);
    box-shadow: 5px 0px 8px rgba(0, 67, 101, 0.25);
}

.tabbar a {
    padding-left: 40px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 28px;
    color: white;
    display: block;
}

.tabbar a:hover {
    opacity: .5;
    transition: .3s;
}

.tabbar img {
    width: 25%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 56px;
}

/* top desktop navigation */
.header {
    clear: both;
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    /* left: 264px;
    display: flex;  
    align-items: center;*/

    background: white; 
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
}
    
#navlist {
    float: right;
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 0 auto;
}

.topnav-icon {
    font-size: 1.75em; 
    color: var(--navyblue);
    margin-right: 16px;
}

.topnav-icon:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}
      
      
li {
    display: inline;
    list-style-type: none;
}

#active {
    color: var(--navyblue);
    text-align: center;
    margin-right: 40px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

.wrapper {
    margin-left: 264px;
    margin-top: 80px;
    padding: 32px;
}

/* home content */
#home h2 {
    display: inline-block;
}

/* .home-wrapper {  
    margin-left: 264px;
    padding: 40px;
} */

.home-cases {
    margin: 0;
    max-width: 840px;
    color: var(--navyblue);
}

/* .home-cases a {
    float: right;
} */

.updates-box {
    width: 380px;
    height: 984px;
    /* left: 1396px;
    top: 80px; */
    float: right;
    background: white;
    padding: 32px 16px 0 16px;
}

.update {
    width: auto;
    height: auto;
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.huskobet-blue-logo {
    float: left;
    width: 12%;
    margin-right: 12px;
}

.update p {
    text-align: left;
    margin: 0;
}

.toggle-btn {
    display: flex;
    align-items: center;
    margin-top: -14px;
    float: right;
}

.toggle-btn p {
    font-weight: 500;
}

.switch {
    position: relative;
    /* display: inline-block; */
    float: right;
    width: 48px;
    height: 24px;
    margin-left: 16px;
    z-index: 0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--navyblue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--navyblue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.case-box {
    width: 840px;
    height: 80px;
    left: 364px;
    top: 198px;
    margin-bottom: 24px;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.case-box p {
    display: inline-block;
    margin-right: 80px;
    margin-left: 24px;
}

.case-box span {
    font-weight: bold;
}

.home-services {
    margin: 0;
    max-width: 840px;
}

.service-box {
    width: 237px;
    height: auto;
    padding: 16px;
    text-align: center;
    float: left;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.service-box p {
    font-size: 1em;
}

/* cases content */
#cases h2 {
    display: inline-block;
}

/* profile content */
.profile-nav {
    width: auto;
    height: 524px;
    margin-right: 32px;
    padding: 24px 16px;
    float: left;

    background: white;
    border-radius: 20px;
}

.profile-element {
    width: 324px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 24px;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 32px;
}

.profile-hover:hover {
    /* opacity: .7; */
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.25);
    transition: .7s;
    cursor: pointer;
}

#profile h4 {
    color: var(--navyblue);
    margin: 0;
    display: flex;
    align-items: center;
}

.headline-icon {
    color: var(--navyblue); 
    font-size: 2em; 
    vertical-align: bottom;
    margin-right: 16px;
}

.arrow {
    color: var(--navyblue); font-size: 2em;
}

.personal-data {
    width: 768px;
    height: 524px;
    /* height: 842px; */
    padding: 24px 16px;
    float: left;

    background: white;
    border-radius: 20px;
}

.personal-data label {
    font-size: 1em;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--navyblue);
}

.personal-data input {
    font-size: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgb(0,33,115,0.3);
    width: 348px;
    padding: 12px;
    
    background: white;
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.16);
    border-radius: 20px;
    border: none;
}

.personal-data span {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.personal-data button {
    float: right;
    margin-top: 24px;
    padding: 16px;
    width: auto;
    height: auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    border: none;

    color: white;
    background: var(--green);
    border-radius: 32px;
}

.personal-data button:hover {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
}
      
/*case example*/
#cases h3 {
    margin: 0;
}

#case-example h3 {
    display: inline-block;
}

.advisor-info {
    width: 100%;
    height: 80px;
    left: 364px;
    top: 198px;
    margin: 24px 0;

    background: white;
    border-radius: 20px;
}

.advisor-info p {
    display: inline-block;
    margin-right: 108px;
    margin-left: 24px;
}

.advisor-info span {
    font-weight: bold;
}

.files-container {
    width: 40%;
    height: auto;
    float: left;
    /* margin-right: 24px; */
}

.files-white-box {
    width: 100%;
    height: 648px;
    /* padding: 12px 12px 0 12px; */
    margin-top: 24px;
    margin-bottom: 32px;

    background: white;
    border-radius: 20px;
}

.files-content {
    padding: 12px;
}

.document {
    display: inline-block;
    margin-right: 88px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: .75em;
}

.file-example {
    width: auto;
    height: 48px;
    padding: 0 10px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.file-example p {
    display: inline-block;
    margin-right: 48px;
}

.search-upload-btn {
    height: 32px;
    width: 32px;
    padding: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    float: right;

    border-radius: 50%;
    background: white;
}

.search-upload-btn:hover {
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.dropdown {
    /* position: relative; */
    /* display: inline-block; */
    float: right;
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 164px;
    height: 40px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: var(--navyblue);

    background: white;
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    min-width: 164px;
    overflow: auto;
    z-index: 1;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--navyblue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
      font-weight: bold;
      transition: .3s;
}

.show {
    display: block;
}

.calendar-container {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 24px;
}

.calendar-white-box {
    width: 100%;
    height: 648px;
    /* padding: 24px 16px; */
    margin-top: 24px;

    background: white;
    border-radius: 20px;
}

.chat-container {
    width: 31%;
    height: auto;
    float: left;
    margin-left: 24px;
}

.chat-box {
    width: 100%;
    height: 648px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    border-radius: 20px;
}

.chat-box img {
    width: 15%;
    float: left;
}

.message-container {
    width: 340px; 
    margin-top: auto;
    margin-bottom: -322px;
}

.message-container p {
    float: right; 
    margin-bottom: 8px;
    margin-top: 0;
}

.message-box {
    width: 340px;
    display: flex;
    align-items: center;
    margin-bottom: -440px;
    margin-top: auto;
}

.message-text {
    width: 280px;
    margin-left: 16px;
    padding: 16px;
    color: white;

    background: var(--navyblue);
    box-shadow: 0px 5px 8px rgb(0 67 101 / 25%);
    border-radius: 32px;
}

.message-text p {
    margin: 0;
}

.message-input {
    width: 324px;
    padding: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: var(--navyblue);
    margin-top: auto;
    margin-bottom: 16px;

    background: white;
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
    border: none;
}

/* member club */
#memberclub h3 {
    margin: 0 0 8px 0;
}

.gratis-services-box {
    width: 400px;
    height: 984px;
    float: right;
    /* background: white; */
    padding: 70px 16px 0 16px;
}

.service-example {
    width: auto;
    height: auto;
    padding: 16px;
    margin-bottom: 16px;
    /* display: flex;
    align-items: center; */

    background: white;
    /* box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25); */
    border-radius: 20px;
}

.service-example img {
    float: left;
    width: 108px;
    margin-right: 12px;
}

.service-example p {
    text-align: left;
    margin: 0;
}

.discounts-container, .test-container {
    margin: 0;
    max-width: 840px;
    /* display: flex;
    flex-direction: row; */
}
.discount-example, .test-example {
    width: 196px;
    height: 196px;
    display: inline-block;
    margin-right: 8px;

    background: white;
    border-radius: 32px;
}