:root {
    --navyblue: #002173;
    --lightblue: #E9F6FD;
    --green: #2BDE8D;
    --orange: #FFC014;
    --red: #DB3A2A;
}

/* general */
body {
    margin: 0;
    background: var(--lightblue);
    color: var(--navyblue);
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--navyblue);
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

span {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--navyblue);
    margin: 0 0 8px 0;
}

h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--navyblue);
    margin: 0;
}

h4 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

/* side navigation desktop */
.tabbar a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
}

.tabbar a:hover {
    opacity: .5;
    transition: .3s;
}

.tabbar img {
    width: 25%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 56px;
}

/* top desktop navigation */
.header {
    clear: both;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    /* left: 264px;
    display: flex;  
    align-items: center;*/

    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
}
    
#navlist {
    float: right;
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin: 0 auto;
}

.topnav-icon {
    font-size: 1.75em; 
    color: var(--navyblue);
    margin-right: 16px;
}

.topnav-icon:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}
      
      
li {
    display: inline;
    list-style-type: none;
}

#active {
    color: var(--navyblue);
    text-align: center;
    margin-right: 40px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

/* home content */
#home h2 {
    display: inline-block;
}

.home-cases {
    margin: 0;
    max-width: 840px;
    color: var(--navyblue);
}

/* .home-cases a {
    float: right;
} */

.update {
    width: auto;
    height: auto;
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: end;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 32px;
}

.huskobet-blue-logo {
    float: left;
    width: 12%;
}

.update p {
    text-align: left;
    margin: 0 0 0 12px;
}

.toggle-btn {
    display: flex;
    align-items: center;
    margin-top: -14px;
    float: right;
}

.toggle-btn p {
    font-weight: 500;
}

.switch {
    position: relative;
    /* display: inline-block; */
    float: right;
    width: 48px;
    height: 24px;
    margin-left: 16px;
    z-index: 0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--navyblue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--navyblue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.case-box {
    left: 364px;
    top: 198px;
    margin-bottom: 24px;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 32px;
}

.case-box:hover {
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.25);
    transition: .7s;
    cursor: pointer;
}

.case-box p {
    display: inline-block;
    margin-right: 80px;
}

.case-box p:nth-child(1) {
    margin-left: 24px;
}

/* 
.case-box span {
    font-weight: bold;
} */

.home-services {
    margin: 0;
    max-width: 840px;
}

.service-box {
    width: 237px;
    height: auto;
    padding: 16px;
    text-align: center;
    float: left;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.service-box p {
    font-size: 1em;
}

/* cases content */
#cases h2 {
    display: inline-block;
}

/* profile content */
#profile h4 {
    color: var(--navyblue);
    margin: 0;
    display: flex;
    align-items: center;
}

#profile .dropbtn {
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    display: flex;
    align-items: center;
}

.headline-icon {
    color: var(--navyblue); 
    font-size: 2em; 
    vertical-align: bottom;
    margin-right: 16px;
}

.arrow {
    color: var(--navyblue); 
    font-size: 2em;
}

.personal-data label {
    font-size: 1em;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--navyblue);
}

.personal-data input {
    font-size: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgb(0,33,115,0.3);
    width: 348px;
    padding: 12px;
    
    background: white;
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.16);
    border-radius: 20px;
    border: none;
}

.personal-data span {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.save-button {
    float: right;
    margin-top: 24px;
    padding: 16px;
    width: auto;
    height: auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    border: none;

    color: white;
    background: var(--green);
    border-radius: 32px;
}

.personal-data button:hover {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
}
      
/*case example*/
#cases h3 {
    margin: 0;
}

#case-example h2 {
    margin: 0;
}

#case-example h3 {
    display: inline-block;
}

.advisor-info {
    width: 100%;
    height: 80px;
    left: 364px;
    top: 198px;
    margin: 24px 0;
    display: flex;
    align-items: center;

    background: white;
    border-radius: 32px;
}

.advisor-info p {
    display: inline-block;
    margin-right: 80px;
}

.advisor-info p:nth-child(1) {
    margin-left: 24px;
}

.advisor-info p:last-child {
    margin-right: 0;
}

.advisor-info span {
    font-weight: bold;
}

.files-container {
    width: 40%;
    height: auto;
    float: left;
    /* margin-right: 24px; */
}

.files-white-box {
    width: 100%;
    height: 648px;
    /* padding: 12px 12px 0 12px; */
    margin-top: 24px;
    margin-bottom: 32px;

    background: white;
    border-radius: 20px;
}

.files-content {
    padding: 12px;
}

.document {
    display: inline-block;
    margin-right: 88px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: .75em;
}

.file-example {
    width: auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-example p {
    display: inline-block;
}

.search-upload-btn {
    height: 32px;
    width: 32px;
    padding: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    float: right;

    border-radius: 50%;
    background: white;
}

.search-upload-btn:hover {
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.dropdown {
    /* position: relative; */
    /* display: inline-block; */
    float: right;
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 164px;
    height: 40px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: var(--navyblue);

    background: white;
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    min-width: 164px;
    overflow: auto;
    z-index: 1;

    background: white;
    box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--navyblue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
      font-weight: bold;
      transition: .3s;
}

.show {
    display: block;
}

.calendar-container {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 24px;
}

.calendar-white-box {
    width: 100%;
    height: 648px;
    /* padding: 24px 16px; */
    margin-top: 24px;

    background: white;
    border-radius: 20px;
}

.chat-container {
    width: 31%;
    height: auto;
    float: left;
    margin-left: 24px;
}

.chat-box {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    border-radius: 20px;
}

.chat-box img {
    width: 15%;
    float: left;
}

.message-container p {
    float: right; 
    margin-bottom: 8px;
    margin-top: 0;
}

.message-box {
    width: 340px;
    display: flex;
    align-items: center;
    margin-bottom: -440px;
    margin-top: auto;
}

.message-text {
    width: 280px;
    margin-left: 16px;
    padding: 16px;

    background: var(--navyblue);
    box-shadow: 0px 5px 8px rgb(0 67 101 / 25%);
    border-radius: 32px;
}

.message-text p {
    margin: 0;
    color: white;
}

.message-input {
    padding: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: var(--navyblue);
 

    background: white;
    box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
    border: none;
}

/* member club */
#memberclub h3 {
    margin: 0 0 8px 0;
}

#memberclub h2 {
    margin-bottom: 24px;
}

.gratis-services-box {
    width: 400px;
    height: 456px;
    float: right;
    /* background: white; */
    padding: 84px 32px 0 16px;
}

.service-example img {
    float: left;
    width: 95px;
    margin-right: 12px;
}

.service-example p {
    text-align: left;
    margin: 0;
}

.discount-example, .test-example {
    /* width: 196px;
    height: 196px; */
   text-align: center;

    background: white;
    border-radius: 32px;
}

.discount-headline {
    font-weight: bolder;
    margin: 8px 0;
}

.discount-example img {
    width: 20%;
}

.test-example p {
    margin: 8px 0;
}

/* desktop screen */
@media (min-width: 768px) {
    .tabbar {
        height: 100%;
        width: 264px;
        left: 0px;
        top: 0px;
        z-index: 100;
        position: fixed;
        overflow-x: hidden;
        padding-top: 56px;
        background: var(--navyblue);
        box-shadow: 5px 0px 8px rgba(0, 67, 101, 0.25);
    }
    
    .tabbar a {
        padding-left: 40px;
        padding-bottom: 32px;
        text-decoration: none;
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25em;
        line-height: 28px;
        color: white;
        display: block;
    }

    .header {
        height: 80px;
        background: white;
    }

    .header img {
        display: none;
    }

    .nav-icon {
        font-size: 1.5em; 
        color: white; 
        /* margin: 0;  */
        padding: 0; 
        vertical-align: bottom;
        margin-right: 16px;
    }

    .wrapper {
        margin-left: 264px;
        margin-top: 80px;
        padding: 32px;
    }
    
    .updates-box {
        width: 380px;
        height: 984px;
        /* left: 1396px;
        top: 80px; */
        float: right;
        background: white;
        padding: 32px 16px 0 16px;
    }

    .case-box {
        width: 840px;
        height: 80px;
        display: flex;
        align-items: center;
    }

    .case-navigation {
        display: none;
    }

    .file-example {
        padding: 0 10px;
        margin-bottom: 24px;

        background: white;
        box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
        border-radius: 20px;
    }

    .file-example p {
        margin-right: 48px;
    }

    .chat-box {
        height: 648px;
    }

    .message-container {
        width: 340px; 
        margin-top: auto;
        margin-bottom: -322px;
    }

    .message-input {
        width: 324px;
        margin-top: auto;
        margin-bottom: 16px;
    }

    .discounts-container, .test-container {
        margin: 0 0 24px 0;
        max-width: 840px;
        /* display: flex;
        flex-direction: row; */
    }

    .discount-example, .test-example {
        width: 164px;
        height: 164px;
        display: inline-block;
        text-align: center;
        margin-right: 16px;
        padding: 16px;
    }

    .profile-nav {
        width: auto;
        height: 524px;
        margin-right: 32px;
        padding: 24px 16px;
        float: left;
    
        background: white;
        border-radius: 20px;
    }

    .profile-nav a {
        display: none;
    }

    .profile-element {
        width: 324px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        margin-bottom: 24px;
    
        background: white;
        box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
        border-radius: 32px;
    }

    .profile-hover:hover {
        /* opacity: .7; */
        box-shadow: inset 0px 5px 8px rgba(0, 67, 101, 0.25);
        transition: .7s;
        cursor: pointer;
    }

    .personal-data {
        width: 768px;
        height: 524px;
        /* height: 842px; */
        padding: 24px 16px;
        float: left;
    
        background: white;
        border-radius: 20px;
    }

    /* member club */
    .articles-flexbox {
        display: flex; 
        justify-content: space-between;
    }

    .articles-container {
        max-width: 1255px;
        margin: 24px 0 0 0;
    }
    
    .article-example {
        width: 268px;
        height: 348px;
        padding: 16px;
        float: left;
        text-align: center;
    
        background: white;
        border-radius: 30px;
    }
    
    .article-example img {
        text-align: center;
        max-width: 268px;
    
        border-radius: 30px;
    }
    
    .article-example h4 {
        font-size: 1.25em;
        margin: 16px 0 0 0;
    }

    .gratis-services-mobile {
        display: none;
    }

    .service-example {
        width: auto;
        height: 107px;
        padding: 16px;
        margin-bottom: 16px;
        /* display: flex;
        align-items: center; */
    
        background: white;
        border-radius: 20px;
    }
}

/* mobile screen */
@media (max-width: 375px) {
/* mobile general */
    .page {
        /* min-height: calc(100vh - 110px); */
        animation: fadeIn 0.4s;
        padding: 104px 0;
    }

    .wrapper {
        padding: 0 16px;
        height: 65vh;
    }

    .mobile-white-bcg {
        width: 100%;
        height: 100%;
        margin-top: 24px;

        background: white;
        border-radius: 20px;
    }

    #chat-mobile .mobile-white-bcg {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .tabbar {
        background: var(--navyblue);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        text-align: center;
    }

    .tabbar a {
        display: inline-block;
        text-align: center;
        color: white;
        padding: 8px 12px;
        text-decoration: none;
        font-size: 1em;
    }

    .nav-icon {
        display: flex;
        margin: 0 auto;
        font-size: 1.5em;
        padding: 8px;
    }

    .tabbar img {
        display: none;
    }

    .header {
        height: 80px;
        background: var(--navyblue);
        display: flex;
        justify-content: center;
    }

    .header img {
        padding: 8px;
    }

    #navlist {
        display: none;
    }

    span {
        font-weight: bold;
    }

/* mobile home */
    #home .home-cases, .home-services {
        display: none;
    }

    .updates-box {
        height: 724px;
        float: right;
        padding: 32px 16px 0 16px;
    }

/* mobile cases */
    #cases .updates-box {
        display: none;
    }

    #cases .case-box {
        width: 100%;
        height: auto;
    }

    #cases .case-box p {
        display: block;
        padding: 12px 0 0 16px;
        margin: 0;
    }

/* mobile case example */
    #case-example .advisor-info, .case-content {
        display: none;
    }

    #case-example h2 {
        margin: 0;
    }

    #case-example h4 {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .case-navigation a {
        text-decoration: none;
    }

    .case-navigation a:nth-child(1) {
        margin-top: 24px;
    }

    .case-nav-element, .profile-element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 16px;
        margin-bottom: 16px;

        background: white;
        box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
        border-radius: 32px;
    }

/* mobile case example - advisor */
    #advisor-mobile p {
        display: block;
        padding: 12px 0 0 16px;
        margin: 0;
    }

    #advisor-mobile p:nth-child(5) {
        padding-bottom: 12px;
    }

/* mobile case example - files */
    #files-mobile .mobile-white-bcg {
        margin-top: 8px;
    }

    #files-mobile .file-example {
        padding: 16px;
    }

    #files-mobile .file-example p {
        margin: 0;
    }

    #files-mobile .file-example div p:nth-of-type(1)  {
        font-weight: bold;
    }

    #files-mobile .file-example div p:nth-of-type(2) {
        margin-right: 32px;
    }

/* mobile case example - chat */
    .chat-box {
        height: auto;
        margin: 0 0 32px 0;
    }

    .message-container {
        width: 311px;
        margin: 0;
    }

    .message-box {
        width: 100%;
        margin: 0;
    }

    .message-input {
        margin: 24px 0 0 0;
        width: 287px;
    }

/* mobile member club*/
    .discounts-container, .test-container {
        overflow: auto;
        white-space: nowrap;
    }

    .discount-example, .test-example{
        /* width: 250px;
        height: fit-content;    
        white-space: pre-wrap;
        display: flex;
        flex-direction: column;
        align-items: center; */

        /* width: 180px; */
        height: 164px;
        padding: 8px;
        /* white-space: pre-wrap; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
    }

    .discount-example p:nth-of-type(2) {
        white-space: normal;
        width: 164px;
    }

    .test-example p {
        white-space: normal;
        width: 164px;
    }
    
    .test-container {
        margin-top: 32px;
    }

    .articles-container {
        margin-top: 32px;
    }

    .article-example {
        width: 320px;
        height: 140px;
        padding: 8px 12px;
        margin-bottom: 16px;
        text-align: left;
        display: flex;
        align-items: center;

        background: white;
        border-radius: 20px;
    }

    .article-example div:nth-of-type(1) {
        margin-left: 8px;
    }

    /* .article-example br {
        display: none;
    } */

    .article-example img {
        float: left;
        height: 132px;
        width: 132px;
        border-radius: 20px;
    }

    .article-example h4 {
        font-size: 1em;
        margin: 0;
    }

    .article-example p {
        margin: 0;
    }

    .gratis-services-box {
        display: none;
    }

    .gratis-services-mobile {
        margin-top: 32px;
    }

    .service-example {
        width: 328px;
        height: auto;
        padding: 8px;
        margin-bottom: 16px;
        text-align: left;
        display: flex;
        align-items: center;

        background: white;
        border-radius: 20px;
    }

    .service-example img {
        margin: 0;
    }

/* mobile profile */
    .reversed {
        display: none;
    }

    #profile .personal-data {
        display: none;
    }

    .personal-data {
        width: 100%;
        height: 100%;
        margin-top: 24px;
    
        background: white;
        border-radius: 20px;
    }

    .personal-data input {
        width: 287px;
    }

    .personal-data span {
        margin: 0;
        padding: 8px 16px;
    }

    #personal-data-mobile .dropbtn {
        width: 311px;
        display: flex;
        align-items: center;

        box-shadow: 0px 5px 8px rgba(0, 67, 101, 0.25);
    }

}